.main__header{
    width: 100vw;
    height:calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.main__header-right{
    margin-top: -3rem;
}
.main__header-right p{
    font-family:'Montserrat', sans-serif;
    margin: 1rem 0 3.5rem;
    font-size:15px;
    width: 100%;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}
.main__header-right h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 63px;
    color:rgba(45, 35, 223, 1);
}
.main__header-left{
    display: grid;
    place-items: center;
    position: relative;
    right: 54px;
}
.main__header-circle{
    width: 28rem;
    height:28rem;
    position: absolute;
    border-radius: 50%;
    background: rgba(45, 35, 223, 0.08);

}
.main__header-image{
width: 680px;
height: 900px;
position:absolute;
top:10%;
left:10%;
}

.programs{
    background: rgba(238, 237, 252, 1);
}
.nutrition {  display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    grid-template-areas:
      ". ."
      ". .";
  }
  