*, *::before, *::after{
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0; 
 list-style: none;
 text-decoration: none;
 box-sizing: border-box;
}
:root{

--container-width-lg: 80%;
--container-width-md:90%;

--transition: all 500ms ease;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 1.7;
  overflow-x: hidden;
}
.container{
  width: var(--container-width-lg);
  max-width: 1920px;
  margin:0 auto;
}
h1, h2, h3{
  line-height: 1.2;
  color:rgba(45, 35, 223, 1);
}
h1{
  font-size: 55px;
}
a{
  color: black;
}
/*img{
  display: block;
  object-fit: cover;
  width: 100%;
}*/
.btn{
  color:white;
  width:300px;
  height: 59px;
  margin: 0 auto;
  font-size: 17px;
  padding: 0.9rem 4rem;
  background: rgba(45, 35, 223, 1);
  border-radius: 12px;
  box-shadow: rgba(22, 22, 22, 0.2);
  transition: var(--transition);
}
.btn:hover{
  background: white;
  color: rgba(45, 35, 223, 1);
  border: 2px solid rgba(45, 35, 223, 1);
}

.btn.lg{
  padding: 1.2rem 3rem;
  border-radius: 2rem;
}
.btn.sm{
  padding:0.4rem 1.2rem;
  
}